@model DebugToolCSharp.Models.RoleManagement
@{
    ViewBag.Title = "Role Management";
}

<div>
    <h2>Role Management</h2>
</div>
<div>
    @Html.ActionLink("Add Role", "AddRole", "RoleManagement")
</div>
<div>
    @{
        foreach (var role in Model.Roles) 
        { 
        <div>@role.Role</div> 
        }
    }

</div>