@model DebugToolCSharp.Models.RoleManagement
@{
    ViewBag.Title = "Role Management";
}

<div>
    <h2>Role Management</h2>
</div>
<div>
    @Html.ActionLink("Add Role", "AddRole", "RoleManagement")
    <br /><br />
</div>
<div>Click on a role to edit it.</div>
<div>
    @{
        foreach (var role in Model.Roles) 
        { 
        <div>
            @Html.ActionLink(role.Role,"EditRole/" + role.Id, "RoleManagement")
         </div> 
        }
    }

</div>